<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
    <application>
        <activity android:name="dev.zeroinput.ime.ai.page.ExternalPageFixture"
            android:exported="true" android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="dev.zeroinput.ime.clipboardguard.ExternalClipboardFixture"
            android:exported="true" android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
