.gradle/
.kotlin/
.idea/
local.properties
**/build/
*.iml
*.jks
*.keystore
*.p12
*.pfx
*.pem
.env
.env.*
!.env.example
.workbuddy/
keystore.properties
signing.properties
*.apk
*.aab
*.log
captures/
.externalNativeBuild/
.cxx/
third_party/librime/
third_party/rime-deps/
third_party/boost/
third_party/*.tar.xz
third_party/*.tar.gz
